<footer class="footer">
  <div class="footer__contacts" id="contacts">
    <h2 class="footer__title">НАШИ КОНТАКТЫ</h2>
    <ul class="footer__list">
      <li class="footer__item">Самара, ул.Антонова-Овсеенко, 44Б, этаж 7, офис 704</li>
      <li class="footer__item">Телефон: <br><a href="tel:79879877987">+7 (987) 987-7-987</a></li>
      <li class="footer__item">Email: <br><a href="email:delo@gooddelo.com">delo@gooddelo.com</a></li>
    </ul>
    <ul class="footer__socials">
      <li class="footer__link"><a href="https://t.me/Udvayzer"><img src="/img/telegram.png" alt="Telegram" loading="lazy"></a></li>
      <li class="footer__link"><a href="tel:79879877987"><img src="/img/phone.png" alt="Telegram" loading="lazy"></a></li>
      <li class="footer__link"><a href="https://wa.me/+79879877987"><img src="/img/whatsapp.png" alt="Whatsapp" loading="lazy"></a></li>
      <li class="footer__link"><a href="viber://chat?number=%2B79879877987"><img src="/img/viber.png" alt="Viber" loading="lazy"></a></li>
    </ul>
  </div>
  <div class="footer__map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" loading="lazy"
      src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=53.212847,%2050.215836+(Gooddelo)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe>
  </div>
</footer>
