<header class="header">
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__link header__link--active"><a href="/">Главная</a></li>
      <li class="header__link"><a href="#">Чем я занимаюсь</a></li>
      <li class="header__link"><a href="/#person">Меня зовут</a></li>
      <li class="header__link"><a href="#">Как я это делаю</a></li>
      <li class="header__link"><a href="/#contacts">Контакты</a></li>
    </ul>
    <a class="header__telephone" href="tel:79879877987">+7(987)987-7-987</a>
  </nav>
  <input class="header__button" type="button" name="menu" onclick="menuOpen()">
</header>
