<section class="main_info">
  <h1 class="main_info__title">СЕРВИС ПО НАСТРОЙКЕ БИЗНЕСА</h1>
  <p class="main_info__text">&nbsp;&nbsp;Хочешь "чудо-таблетку" для твоего Бизнеса? ТАКОЙ НЕТ. Ты явно уже в курсе,
    что <mark>Свой Бизнес - это не "сказочная страна"</mark> куда можно попасть, а чётко
    отлаженный механизм, который действует по определенным принципам и законам.
    И если ты реально <mark>хочешь разобраться "что же сломалось?" или “куда тут нажать,
    чтобы всё работало?”</mark>, а не ждешь "чудес под таблетками", как некоторые,
    то ты уже на правильном пути.</p>
  <button class="button" type="button" name="button" onclick="popupShow('popup-form')">Оставить заявку</button>
</section>
