<section class="person">
  <br class="anchor" id="person">
  <h2 class="person__title">Кстати, меня зовут Иван!</h2>
  <p class="person__text">&nbsp;&nbsp;Я - мастер по настройке Бизнеса. Вместе со своей командой <mark>мы делаем так,
    чтобы Бизнес работал</mark> "как часы" - был чётко систематизирован, структурирован,
    а значит, легко управляем и с минимальной зависимостью от человеческого фактора.<br>
    &nbsp;&nbsp;Если хочешь подробностей - жмякай сюда</p>
    <button class="button" type="button" onclick="popupShow('services')">С чем я работаю</button>
    <!-- onclick="location.href='/services.html'" -->
</section>
