<section class="tactic">
  <h2 class="tactic__title">Настройка бизнеса - это всегда комплекс мер, который состоит из следущих элементов:</h2>
  <ul class="tactic__list">
    <li class="tactic__item">1. Симптомы. Какую проблему / задачу ты видишь сам.</li>
    <li class="tactic__item">2. Диагностика. Или, проще говоря, аудит Бизнеса, где ты увидишь точки роста своего Бизнеса.</li>
    <li class="tactic__item">3. "Что будет после "ремонта"? Конкретно в цифрах, что ожидается по итогам работы,
      какое время это займёт, необходимые ресурсы и сколько это в деньгах.</li>
    <li class="tactic__item">4. Ремонт. Самое важное не разработать, а внедрить. На этом сыпятся горе
      коучи/ тренера/ консультанты (нужное подчеркнуть).</li>
    <li class="tactic__item">5. Обкатка. После внедрения необходимо сделать так, чтобы это
      работало самостоятельно и не зависело от человека со стороны.</li>
  </ul>
</section>
