.cases {
  &::before {
    content: '';
    position: absolute;
    width: 502px;
    height: 703px;
    background: url('../img/avatar-1.png') center no-repeat;
    background-size: contain;
    left: 55%;
    top: -2%;
  }
}

.cases__title {
  margin-top: 100px;
  margin-left: 10%;
  margin-bottom: 43px;
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  max-width: 671px;
  color: #439B90;
}

.cases__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 10%;
  margin-bottom: 78px;
  max-width: 553px;
}

.cases__list {

}

.cases__item {
  padding-top: 103px;
  margin-bottom: 78px;
  padding-left: 20%;
  padding-right: 5%;
  background: url('../img/pop-art-cases.png') no-repeat;
  background-size: 100% 100%;
}

.cases__item-title {
  padding: 50px 157px 45px 176px;
  max-width: 895px;
  width: fit-content;
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #FF8D07;
  margin-bottom: 55px;
  background: url('../img/cloud-cases.svg') no-repeat;
  background-size: 100% 100%;
}

.cases__item-text {
  max-width: 943px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 122px;
}

.cases__item-img {
  position: absolute;
  top: -148px;
  left: 0px;
  object-fit: fill;
}
