.request {
  padding: 125px 0 87px 16vw;
  background: center no-repeat;
  background-size: cover;

  @supports not (background-image: url('../img/pop-art-4.webp')) {
    background-image: url('../img/pop-art-4.png');
  }
  background-image: url('../img/pop-art-4.webp');
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 490px;
    height: 326px;
    background: url('../img/avatar-3.png') center no-repeat;
    background-size: contain;
    left: 50%;
    bottom: 0;
  }

  @media(max-width: $table-width) {
    padding: 95px 0 79px 2%;

    @supports not (background-image: url('../img/pop-art-4-table.webp')) {
      background-image: url('../img/pop-art-4-table.png');
    }
    background-image: url('../img/pop-art-4-table.webp');

    &::before {
      width: 400px;
      height: 266px;
      left: auto;
      right: 2%;
    }
  }

  @media(max-width: $mobile-width) {
    display: grid;
    justify-items: center;
    padding: 50px 0 307px 0;

    @supports not (background-image: url('../img/pop-art-4-mobile.webp')) {
      background-image: url('../img/pop-art-4-mobile.png');
    }
    background-image: url('../img/pop-art-4-mobile.webp');

    &::before {
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.request__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #100F0D;
  max-width: 434px;
  margin-bottom: 75px;

  @media(max-width: $table-width) {
    max-width: 348px;
    margin-bottom: 93px;
  }

  @media(max-width: $mobile-width) {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 348px;
    margin-bottom: 36px;
  }
}
