<div class="pop-form" id="popup-form">
  <button class="popup__close" type="button" name="close" onclick="popupShow()"></button>
  <h1 class="pop-form__title">Заполните данные и мы свяжемся с вами</h1>
  <form class="pop-form__form" action="https://gooddelonotify.tojefin.repl.co/api/v1/sendform/" method="post" id="sendform">
    <input class="pop-form__input" type="text" name="Name" placeholder="Введите имя" required>
    <input class="pop-form__input" type="tel" pattern="[+]{0,1}[0-9]{5,}" name="Phone" placeholder="Номер телефона" required>
    <input class="pop-form__input" type="email" name="Email" placeholder="E-mail" required>
    <textarea class="pop-form__input rows="8" cols="80" name="Commnet" placeholder="Комментарий"></textarea>
    <button class="button" data-sitekey="6LeRTZsfAAAAANmL07AI9LoNdTdDu7H7Nw9kd1K5" data-callback='onSubmit' data-action='submit'>Оставить заявку</button>
  </form>
  <script>
    function onSubmit(token) {
      document.getElementById("sendform").submit();
    }
  </script>
</div>
