<div class="pop-services" id="services">
  <button class="popup__close" type="button" name="close" onclick="popupShow()"></button>
  <h2 class="pop-services__title" >С ЧЕМ Я РАБОТАЮ</h2>
  <ul class="pop-services__accordions-list">
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">УПРАВЛЕНИЕ КАЧЕСТВОМ РАБОТЫ ПЕРСОНАЛОМ</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>Управление качеством работы персоналом. Это когда компания
          ЛИБО полностью выстраивает систему от момента</p>
        <ul>
          <li>подбора персонала;</li>
          <li>формирования и внедрения адаптационного курса;</li>
          <li>внедрения системы наставничества с эффективной мотивацией;</li>
          <li>внедрение KPI и грейдов;</li>
          <li>внедрение цикличной системы обучения и “прокачки скиллов”; *активная ссылка на блок Обучение*</li>
          <li>внедрение уникальной системы Gideone; *активная ссылка на страницу Gideone*</li>
          <li>внедрение системы развития управленческих навыков; *активная ссылка на блок УПравленческих навыков*</li>
        </ul>
        <p>ЛИБО “прокачка” одного из этих элементов.</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">ВЫСОКОКЛАССНЫЙ СЕРВИС</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>  Это когда компания принимает для себя решение ЛИБО <br><br>
          внедрить стандарты высококлассного сервиса на всех
          уровнях работы и на всех этапах продаж. <br><br>ЛИБО нет :)</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">СТРАТЕГИЯ И ТАКТИКА РАЗВИТИЯ КОМПАНИИ</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>Стратегия и тактика развития компании. Это когда в компании ЛИБО </p>
        <ul>
          <li>организуется масштабная сессия стратегического планирования с привлечением всего управляющего состава;</li>
          <li>разрабатываются цели/ задачи/ миссии/ принципы компании;</li>
          <li>выстраивается стратегия развития компании на 1-3 года с
            ежемесячной тактической разбивкой задач на отделы компании.</li>
        </ul>
        <p>ЛИБО “прокачка” одного из этих элементов.</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">СЛУЖБА МАРКЕТИНГА</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>Служба маркетинга. Это когда в компании ЛИБО</p>
        <ul>
          <li>полностью внедряется служба маркетинга с описанием целей и задач,
            карты компетенций входящих в неё сотрудников и должностными инструкциями;</li>
          <li>разрабатываются и внедряются Формы Управленческой Отчётности,
            как элемент контроля и управления эффективностью работы отдела;</li>
          <li>разрабатываются и внедряются ключевые метрики и специализированное
            программное обеспечение для управления ими; *активная ссылка на Gooddelo.com*</li>
          <li>внедрение ключевых механик маркетинговой активности;</li>
          <li>разработка и внедрение программы лояльности;</li>
          <li>внедрение интерактивной карты с рабочим пространством маркетолога;</li>
          <li>разработка и внедрение стандартов маркетинговой активности.</li>
        </ul>
        <p>ЛИБО “прокачка” одного из этих элементов.</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">ПОЛНОЦЕННЫЙ ЦЕНТР КОРПОРОТИВНОГО ОБУЧЕНИЯ (ЦКО)</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>Полноценный Центр Корпоративного Обучения (ЦКО). Это когда в компании ЛИБО</p>
        <ul>
          <li>внедряются в штат Бизнес-тренер/ Тренер по ассортименту/ Специалист по оценке персонала
            (или все три функции совмещаются в одном лице) и под каждую должностную единицу
            формируются принципы подбора/ карта компетенций/ должностная инструкция/
            формы управленческой отчётности;</li>
          <li>внедряется система обучения с формированием ежегодного/ ежемесячного плана обучения;</li>
          <li>внедряются стандарты видов обучения и оценки персонала;</li>
          <li>внедряет весь перечень необходимого методического материала;</li>
          <li>внедряется уникальная и высокоэффективная система управления качеством
            работы персоналом Gideone; *активная ссылка на сайт Gideone*</li>
          <li>внедряется стандартный или расширенный блок тренингов по технике продаж и управленческим навыкам;</li>
          <li>внедряются метрики и критерии оценки эффективности проводимого обучения.</li>
        </ul>
        <p>ЛИБО “прокачка” одного из этих элементов, а также проведение любого из навыковых тренингов.</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">СИСТЕМА УПРАВЛЕНИЯ ПРОДАЖАМИ</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>Система управления продажами. Это когда в компании ЛИБО полностью
          перерабатывается система управления продажами и персоналом</p>
        <ul>
          <li>начиная с внедрения принципов ДДС (Движение Денежных Средств); *активная ссылка на блок ДДС</li>
          <li>внедрения принципов систематических собраний;</li>
          <li>внедрение уникальной системы автозадач; *ссылка на Gooddelo.com</li>
          <li>внедрение системы обучения и “прокачки скиллов” по управленческим навыкам;</li>
          <li>внедрение эффективной системы прогнозирования продаж с качественной визуализацией;</li>
          <li>внедрение всего перечня систематических и ситуационных задач линейки управления.</li>
        </ul>
        <p>ЛИБО “прокачка” одного из этих элементов.</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">ДВИЖЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ (ДДС)</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <p>Движение Денежных Средств (ДДС). Это когда компания ЛИБО</p>
        <ul>
          <li>полностью внедряет систему контроля и управления ДДС
            в режиме онлайн на всех направлениях прихода и расхода денежных средств;</li>
          <li>происходит разбивка на ключевые метрики с качественной визуализацией и работой в режиме онлайн;</li>
          <li>оптимизируется расходная часть компании и внедряются инструменты контроля и управления ею;</li>
          <li>внедряется система KPI с завязкой на ключевых метриках;</li>
          <li>разрабатывается и внедряется специализированное программное обеспечение для
            безопасного управления ДДС.*активная ссылка на Gooddelo.com</li>
        </ul>
        <p>ЛИБО “прокачка” одного из этих элементов.</p>
        <br>
      </div>
    </li>
    <li class="pop-services__item">
      <h3 class="pop-services__item-title" onclick="accordion(this)">И МНОГОЕ ДРУГОЕ...</h3>
      <div class="pop-services__item-text" name="accordion">
        <br>
        <ul>
          <li>разработка специализированного Программного Обеспечения;</li>
          <li>крутой уникальный дизайн;</li>
          <li>любой вид навыкового обучения;</li>
          <li>стратегические и фасилитационные сессии</li>
          <li>создание брендбука или его элементов;</li>
          <li>разработка уникального стиля чётко бьющего в ЦА;</li>
          <li>уникальная система управления SMM активностью;</li>
        </ul>
        <p>и многое многое многое...</p>
        <br>
      </div>
    </li>
  </ul>
</div>
